<a href="https://colab.research.google.com/github/MouxRaynor/BEDU_repositorio/blob/main/Copia_de_Proyecto_Marin_Etapa3_casting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#LECTURA DE ARCHIVO CSV DESDE PYTHON
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
db_siniestros_mar=pd.read_csv('/content/drive/MyDrive/python/base_siniestros_mar_trabajada.csv', index_col=0, encoding='latin-1')

In [ ]:
#Análisis Exploratorio de Variables
db_siniestros_mar.head(5)

,MONEDA,FORMA_DE_VENTA,Id_Embarcacion,Tipo Embarcacion,Id_Uso,AÑO DE CONSTRUCCION,Id_Cobertura,CAUSA_DEL_SINIESTRO,NUMERO_DE_SINIESTROS,MONTO_DEL_SINIESTRO,GASTOS_DE_AJUSTE,SALVAMENTO,MONTO_PAGADO,MONTO_DE_DEDUCIBLE,MONTO_DE_COASEGURO
AÑO,,,,,,,,,,,,,,,
2015,2,Agentes Persona Fisica,101,Abastecedor,Abastecedor,1979,Todo Riesgo (Casco),Averia gruesa,1,-82213,222146,0,0,0,0
2015,2,Agentes Persona Fisica,101,Abastecedor,Abastecedor,2007,Todo Riesgo (Casco),Averia gruesa,1,0,0,109,0,0,0
2015,2,Agentes Persona Fisica,101,Abastecedor,Comercial,1967,Todo Riesgo (Casco),Averia particular,1,84776,0,0,115470,0,0
2015,2,Agentes Persona Fisica,101,Abastecedor,Comercial,1972,Todo Riesgo (Casco),Abordaje,1,16490,0,0,0,0,0
2015,2,Agentes Persona Fisica,101,Abastecedor,Comercial,1973,Todo Riesgo (Casco),Abordaje,2,150317,16400,0,0,0,0

In [ ]:
db_siniestros_mar.shape

(1970, 15)

In [ ]:
db_siniestros_mar.dtypes

MONEDA                   int64
FORMA_DE_VENTA          object
Id_Embarcacion           int64
Tipo Embarcacion        object
Id_Uso                  object
AÑO DE CONSTRUCCION      int64
Id_Cobertura            object
CAUSA_DEL_SINIESTRO     object
NUMERO_DE_SINIESTROS     int64
MONTO_DEL_SINIESTRO      int64
GASTOS_DE_AJUSTE         int64
SALVAMENTO               int64
MONTO_PAGADO             int64
MONTO_DE_DEDUCIBLE       int64
MONTO_DE_COASEGURO       int64
dtype: object

In [ ]:
#funciones vectorizadas
db_siniestros_mar= db_siniestros_mar.drop(columns=['Id_Embarcacion'])
db_siniestros_mar_mapping={'MONEDA':'Moneda',
                           'FORMA_DE_VENTA':'Forma_Venta',
                           'Tipo Embarcacion ':'Timpo_Embarcacion',
                           'Id_Uso':'Uso',
                           'AÑO DE CONSTRUCCION ':'Anio_Construccion',
                           'Id_Cobertura':'Cobertura',
                           'CAUSA_DEL_SINIESTRO':'Cause',
                           'NUMERO_DE_SINIESTROS':'Num_Siniestros',
                           'MONTO_DEL_SINIESTRO':'Incurrido',
                           'GASTOS_DE_AJUSTE':'Gastos_Ajuste',
                           'SALVAMENTO':'Salvamento',
                           'MONTO_PAGADO':'Monto_Pagado',
                           'MONTO_DE_DEDUCIBLE':'Monto_Deducible',
                           'MONTO_DE_COASEGURO':'Monto_Coaseguro',
                           }
db_siniestros_mar = db_siniestros_mar.rename(columns=db_siniestros_mar_mapping)
db_siniestros_mar.head(5)

,Moneda,Forma_Venta,Tipo Embarcacion,Uso,AÑO DE CONSTRUCCION,Cobertura,Cause,Num_Siniestros,Incurrido,Gastos_Ajuste,Salvamento,Monto_Pagado,Monto_Deducible,Monto_Coaseguro
AÑO,,,,,,,,,,,,,,
2015,2,Agentes Persona Fisica,Abastecedor,Abastecedor,1979,Todo Riesgo (Casco),Averia gruesa,1,-82213,222146,0,0,0,0
2015,2,Agentes Persona Fisica,Abastecedor,Abastecedor,2007,Todo Riesgo (Casco),Averia gruesa,1,0,0,109,0,0,0
2015,2,Agentes Persona Fisica,Abastecedor,Comercial,1967,Todo Riesgo (Casco),Averia particular,1,84776,0,0,115470,0,0
2015,2,Agentes Persona Fisica,Abastecedor,Comercial,1972,Todo Riesgo (Casco),Abordaje,1,16490,0,0,0,0,0
2015,2,Agentes Persona Fisica,Abastecedor,Comercial,1973,Todo Riesgo (Casco),Abordaje,2,150317,16400,0,0,0,0

In [ ]:
###Renombrar la moneda
def nombrar_moneda(moneda):
  if moneda==1:
    moneda ='pesos'
  elif moneda==2:
    moneda='dolares'
  return moneda
db_siniestros_mar['Moneda']=db_siniestros_mar['Moneda'].apply(nombrar_moneda)
db_siniestros_mar.head(5)

,Moneda,Forma_Venta,Tipo Embarcacion,Uso,AÑO DE CONSTRUCCION,Cobertura,Cause,Num_Siniestros,Incurrido,Gastos_Ajuste,Salvamento,Monto_Pagado,Monto_Deducible,Monto_Coaseguro
AÑO,,,,,,,,,,,,,,
2015,dolares,Agentes Persona Fisica,Abastecedor,Abastecedor,1979,Todo Riesgo (Casco),Averia gruesa,1,-82213,222146,0,0,0,0
2015,dolares,Agentes Persona Fisica,Abastecedor,Abastecedor,2007,Todo Riesgo (Casco),Averia gruesa,1,0,0,109,0,0,0
2015,dolares,Agentes Persona Fisica,Abastecedor,Comercial,1967,Todo Riesgo (Casco),Averia particular,1,84776,0,0,115470,0,0
2015,dolares,Agentes Persona Fisica,Abastecedor,Comercial,1972,Todo Riesgo (Casco),Abordaje,1,16490,0,0,0,0,0
2015,dolares,Agentes Persona Fisica,Abastecedor,Comercial,1973,Todo Riesgo (Casco),Abordaje,2,150317,16400,0,0,0,0

In [ ]:
#Obtenemos el incurrido real en pesos y quitamos columnas que no nos sirven
import numpy as np
db_siniestros_mar['Tipo_Cambio']=np.where(db_siniestros_mar['Moneda']==1,1,20)
db_siniestros_mar['Incurrido_Homologado']=db_siniestros_mar['Tipo_Cambio']*db_siniestros_mar['Incurrido']
db_siniestros_mar= db_siniestros_mar.drop(['Gastos_Ajuste'], axis=1)
db_siniestros_mar= db_siniestros_mar.drop(['Salvamento'], axis=1)
db_siniestros_mar=db_siniestros_mar.drop(['Monto_Pagado'], axis=1)
db_siniestros_mar=db_siniestros_mar.drop(['Monto_Deducible'], axis=1)
db_siniestros_mar=db_siniestros_mar.drop(['Monto_Coaseguro'], axis=1)
columnas=list(db_siniestros_mar.columns)

In [ ]:
columnas

['Moneda',
 'Forma_Venta',
 'Tipo Embarcacion',
 'Uso',
 'AÑO DE CONSTRUCCION',
 'Cobertura',
 'Cause',
 'Num_Siniestros',
 'Incurrido',
 'Tipo_Cambio',
 'Incurrido_Homologado']

In [ ]:
columnas[-2],columnas[-3]=columnas[-3],columnas[-2]
columnas

['Moneda',
 'Forma_Venta',
 'Tipo Embarcacion',
 'Uso',
 'AÑO DE CONSTRUCCION',
 'Cobertura',
 'Cause',
 'Num_Siniestros',
 'Tipo_Cambio',
 'Incurrido',
 'Incurrido_Homologado']

In [ ]:
db_siniestros_mar=db_siniestros_mar[columnas]
db_siniestros_mar.head(20)

,Moneda,Forma_Venta,Tipo Embarcacion,Uso,AÑO DE CONSTRUCCION,Cobertura,Cause,Num_Siniestros,Tipo_Cambio,Incurrido,Incurrido_Homologado
AÑO,,,,,,,,,,,
2015,dolares,Agentes Persona Fisica,Abastecedor,Abastecedor,1979,Todo Riesgo (Casco),Averia gruesa,1,20,-82213,-1644260
2015,dolares,Agentes Persona Fisica,Abastecedor,Abastecedor,2007,Todo Riesgo (Casco),Averia gruesa,1,20,0,0
2015,dolares,Agentes Persona Fisica,Abastecedor,Comercial,1967,Todo Riesgo (Casco),Averia particular,1,20,84776,1695520
2015,dolares,Agentes Persona Fisica,Abastecedor,Comercial,1972,Todo Riesgo (Casco),Abordaje,1,20,16490,329800
2015,dolares,Agentes Persona Fisica,Abastecedor,Comercial,1973,Todo Riesgo (Casco),Abordaje,2,20,150317,3006340
2015,dolares,Agentes Persona Fisica,Abastecedor,Comercial,1973,Todo Riesgo (Casco),Varadura,1,20,0,0
2015,dolares,Agentes Persona Fisica,Abastecedor,Comercial,1979,Todo Riesgo (Casco),Incendio,1,20,27739611,554792220
2015,dolares,Agentes Persona Fisica,Abastecedor,Comercial,1990,Todo Riesgo (Casco),Averia particular,1,20,-17271,-345420
2015,dolares,Agentes Persona Fisica,Abastecedor,Comercial,2000,Todo Riesgo (Casco),Robo total,2,20,219515,4390300
2015,dolares,Agentes Persona Fisica,Abastecedor,Comercial,2011,Todo Riesgo (Casco),Averia particular,1,20,617288,12345760
2015,dolares,Agentes Persona Fisica,Abastecedor,Comercial,2013,Todo Riesgo (Casco),Averia particular,2,20,8480881,169617620
2015,dolares,Agentes Persona Fisica,Abastecedor,Comercial,2013,Todo Riesgo (Casco),Colision,1,20,-15154,-303080
2015,dolares,Agentes Persona Fisica,Abastecedor,Otro uso,1996,Todo Riesgo (Casco),Averia gruesa,1,20,1187018,23740360
2015,dolares,Agentes Persona Fisica,Abastecedor,Pesca,1975,Todo Riesgo (Casco),Averia particular,1,20,1748439,34968780
2015,dolares,Agentes Persona Fisica,Abastecedor,Pesca,1980,Todo Riesgo (Casco),Averia particular,2,20,5388241,107764820
2015,dolares,Agentes Persona Fisica,Abastecedor,Pesca,1985,Todo Riesgo (Casco),Averia particular,1,20,3778142,75562840
2015,dolares,Agentes Persona Fisica,Abastecedor,Pesca,2006,Todo Riesgo (Casco),Averia particular,1,20,700776,14015520
2015,dolares,Agentes Persona Fisica,Abastecedor,Pesca,2013,Todo Riesgo (Casco),Averia particular,8,20,2187887,43757740
2015,dolares,Agentes Persona Fisica,Atunero,Pesca,1978,Todo Riesgo (Casco),Averia gruesa,1,20,-29984,-599680
2015,dolares,Agentes Persona Fisica,Atunero,Pesca,1978,Todo Riesgo (Casco),Rayo o explosion,1,20,1030923,20618460

In [ ]:
Incurrido= round(db_siniestros_mar['Incurrido_Homologado'].sum()/1000000,2)
Cantidad_Siniestros=db_siniestros_mar['Num_Siniestros'].sum()
print(f'El total de Incurrido a lo largo de los años es de: $ {Incurrido} millones de pesos')
print(f'El total de Siniestros a lo largo de los años es de: {Cantidad_Siniestros} claims')

El total de Incurrido a lo largo de los años es de: $ 186277.54 millones de pesos
El total de Siniestros a lo largo de los años es de: 2915 claims

In [ ]:
###Cantidad de registros por año
db_siniestros_mar.groupby(['AÑO']).size().reset_index(name='Num_Registros')

    AÑO  Num_Registros
0  2015            281
1  2016            351
2  2017            335
3  2018            323
4  2019            335
5  2020            345

In [ ]:
###Cantidad de siniestros y monto por año
db_siniestros_mar.groupby(['AÑO'])[['Num_Siniestros']].sum()

      Num_Siniestros
AÑO
2015             463
2016             413
2017             398
2018             404
2019             608
2020             629

In [ ]:
round(db_siniestros_mar.groupby(['AÑO'])[['Incurrido_Homologado']].sum()/1000000,2)

      Incurrido_Homologado
AÑO
2015              54532.91
2016              70414.71
2017              30063.23
2018              14482.39
2019             -12854.50
2020              29638.80

In [ ]:
#estimados de locacion
#media
round(db_siniestros_mar['Incurrido_Homologado'].mean(),2)

408470.0

In [ ]:
#mediana
round(db_siniestros_mar['Incurrido_Homologado'].median(),2)

408470.0

In [ ]:
# media truncada
from scipy import stats
stats.trim_mean(db_siniestros_mar['Incurrido_Homologado'], 0.1)

5531372.994923858

In [ ]:
#desviacion estandar
db_siniestros_mar['Incurrido_Homologado'].std()

1627483804.6446195

In [ ]:
#rango
db_siniestros_mar['Incurrido_Homologado'].max() - db_siniestros_mar['Incurrido_Homologado'].min()

80682775300

In [ ]:
#percentil 25
db_siniestros_mar['Incurrido_Homologado'].quantile(0.25)

-18320.0

In [ ]:
#percentil 75
db_siniestros_mar['Incurrido_Homologado'].quantile(0.75)

8627735.0

In [ ]:
#rango intercuartilico
db_siniestros_mar['Incurrido_Homologado'].quantile(0.75)-db_siniestros_mar['Incurrido_Homologado'].quantile(0.25)

8646055.0